<template>
  <router-view/>
</template>

<style lang="scss">
* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #ccc;
}

</style>
