<template>
  <div class="home">
    <my-nav></my-nav>
    <router-view :key="$route.fullPath"></router-view>
  </div>
</template>

<script>
import myNav from '@/components/myNav/myNav'
export default {
  components: {
    myNav
  }
}
</script>
<style lang="scss">
.home {
  height: 100%;
}
  
</style>
